/*=========== media quiry for min 1269px ============= */
@media (min-width: 1265px) {
    .post-sec {
        margin-left: 14vmax;
        margin-right: 0;
    }
}

/* media quiry for large divices */
@media (min-width:1161px) and (max-width:1264px) {

    /* navbar section  */
    .navbar-sec {
        max-width: 7vmax !important;
    }

    /* content section */
    .post-sec {
        margin-right: 0;
        margin-left: 11vmax;
    }

    .sugested-sec {
        margin-left: 0;
    }

    /* navbar section */
    /* instagram/logo of insta */
    .insta-name {
        display: none;
    }

    .insta-logo {
        content: url(/Instagram-/assets/svg/instalogo.svg);
    }

    /* icons details/ only icons */
    .i-d {
        display: none;
    }

    /* sugested section */
    .sugested-sec {
        margin-left: 0;
    }
}

/*===== media quiry for large divice max width 1160px =======*/
@media (max-width: 1160px) and (min-width: 769px) {

    /* navbar section  */
    .navbar-sec {
        max-width: 7vmax !important;
    }
    .insta-name {
        display: none;
    }
    .navbar-sec .nav-item{
        margin: auto auto auto 1rem !important;
    }

    .insta-logo {
        content: url(/assets/svg/instalogo.svg);
        margin:0 auto auto 0.9rem ;
    }

    /* icons details/ only icons */
    .i-d {
        display: none;
    }

    /* sugested for you section */
    .sugested-sec {
        display: none;
    }

    /* sidebar width */

}

/*======== media quirey for for mobile devices 767px ========= */
@media (max-width: 768px) and (min-width: 577px) {
    .navbar-sec {
        display: none !important;
    }

    .mob-t-nav {
        display: flex !important;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        top: 0;
        z-index: 999;
        border-bottom: 1px solid rgb(122, 122, 122);
        background-color: black;
    }
   
    

    .search-m {
        display: flex !important;
        padding: 0;
    }

    .nav-item form img {
        margin-top: 8px !important;
    }
    .nav-item{
        padding: 5px 15px !important;
    }

    /* navbar bottom on mobile screen */
    .mob-b-nav {
        display: flex !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        border-top: 1px solid rgb(122, 122, 122);
        background-color: black;
    }
.mob-b-nav ul{
    width: 100%;
    display: flex !important;
    justify-content:space-evenly !important;
    align-items: center;
}

    /* content main section */
    .main-sec .container {
        padding: 0 !important;
    }
    .main-sec {
        padding-top: 90px;
    }
    .post-sec {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    .post .card{
        width: 100% !important;
    }

    .sugested-sec {
        display: none;
    }

}

@media (max-width: 576px) and (min-width: 360px) {
    .navbar-sec {
        display: none !important;
    }

    .mob-t-nav {
        display: flex !important;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        top: 0;
        z-index: 999;
        border-bottom: 1px solid rgb(122, 122, 122);
        background-color: black;
    }
   
    .nav-item input {
        display: none !important;
    }

    .search-m {
        display: flex !important;
        padding: 0;
    }

    .nav-item form img {
        margin-top: 8px !important;
    }
    .nav-item{
        padding: 5px 15px !important;
    }

    /* navbar bottom on mobile screen */
    .mob-b-nav {
        display: flex !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        border-top: 1px solid rgb(122, 122, 122);
        background-color: black;
    }
.mob-b-nav ul{
    width: 100%;
    display: flex !important;
    justify-content:space-evenly !important;
    align-items: center;
}

    /* content main section */
    .main-sec .container {
        padding: 0 !important;
    }
    .main-sec {
        padding-top: 90px;
    }
    .post-sec {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    .post .card{
        width: 100% !important;
    }

    .sugested-sec {
        display: none;
    }

}