/* common utility css start */
*{
    margin: 0;
    box-sizing: border-box;
}


/* preloader */

#preloader{
    background: #000 no-repeat center center;
    background-size: 8%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;

}
#preloader img{
    width: 8%;
    margin: auto;
}
:root{
    --primary-color: black;
    --secondary-color: white;
    --dark-color:gray;
    --border-color:rgb(122, 122, 122);
    /* background: linear-gradient(circle, rgb(238 1 142), rgb(254 123 11), rgb(87 9 28)); */
}

::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background-color: gray;
}
::-webkit-scrollbar-thumb{
    background-color: #ffffff;
}

body{
    background-color: var(--primary-color);
    color: white;
}

img,
a:hover{
    cursor: pointer;
}


/* common utility css end */


/* navbar */
.navbar-sec{
    position: fixed;
    z-index: 999;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    max-width: 15vmax;
    width: 100%;
    height: 100vh;
    /* background-color: var(--dark-color); */
    border-right:0.5px solid var(--border-color);
}
.nav-main{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nav-item:hover{
     background: var(--border-color);
     padding: auto 100px;
     border-radius: 5px;
    
}
.nav-item{
    padding-right: 60px;
}
.navbar-item{
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}
.pro-img{
    width: 30px;
    height: 30px;
    margin-right: 10px;

    object-fit: cover;
    border-radius: 50%;
}

/* last two item in navbar */
.nav-item-space{
    margin-top: 13vmax;
}
.navbar {
    margin-top: 0;
}


.nav-cu{
    position: fixed;
    width: 15%;
    margin-top: 2rem;
    justify-content: flex-start;
    background-color: var(--primary-color);
}

.icons{
    
    gap: 10px;
    margin-right: 2rem;
}


/* content section */
.main-sec{
    max-width: auto;
    width: 100%;
    height: 100vh;
    /* background-color: var(--dark-color); */
    border-right:0.5px solid rgb(122, 122, 122);
}
/* like btn */

.like-button.liked {
    background: url(/assets/svg/heart_red.svg) no-repeat; /* Change color when liked */
}
/* favourit btn */
.favourit.favouritBtn{
    background: url(/assets/svg/favouritpostwhite.svg) no-repeat;
}

/*content-sec> post-sec */
.post-sec{
    /* max-width: 43.5vmax;
    width: 100%; */
}

/*content-sec> sugested sec */
.sugested-sec{
    padding-left: 4rem;
    max-width: 26.5vmax;
    width: 100%;
}