/* common utility css start */
* {
    margin: 0;
    box-sizing: border-box;
}


/* preloader */

#preloader {
    background: #000 no-repeat center center;
    background-size: 8%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;

}

#preloader img {
    width: 8%;
    margin: auto;
}

/* top preloader */
.loader {
    background-color: #000;
    position: fixed;
    left: 0;
    width: 100%;
    height: 3px;
    top: 0;
    z-index: 1001;
    display: flex;
    align-items: flex-end;
}

.progress-bar {
    width: 0;
    height: 20px;
    background: linear-gradient(40deg, rgb(239, 19, 96) 0%,
            rgb(223, 85, 54) 80%,
            rgb(230, 13, 20) 145%,
            #c92222 100%);
    transition: 0.5s linear;
    display: flex;
    justify-content: flex-end;
    transform: translateY(0);
}

span.number-count {
    font-size: 130px;
    color: #fff;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.height-0 {
    transform: translateY(1%);
}

.hide-loader {
    display: none;
}

/* end */
:root {
    --primary-color: black;
    --secondary-color: white;
    --dark-color: gray;
    --border-color: rgb(54 54 54);
    --visited-color: rgb(224, 241, 255);
    --links-color:#0095f6;

    /* gradient color */
    --gradient-lavender:rgb( 211, 0, 197);
    --gradient-orange: rgb(255, 122, 0);
    --gradient-pink: rgb(255, 1, 105);
    --gradient-purple: rgb(118, 56, 250);
    --gradient-red: rgb(255, 48, 64);
    --gradient-yellow: rgb(255, 214, 0);
    /* background: linear-gradient(circle, rgb(238 1 142), rgb(254 123 11), rgb(87 9 28)); */
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

body {
    background-color: var(--primary-color);
    color: white;
}

img,
a:hover {
    cursor: pointer;
}

ul li {
    list-style: none;
}


/* common utility css end */


/* navbar */
.navbar-sec {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 15vmax;
    width: 100%;
    height: 100vh;
    /* background-color: var(--dark-color); */
    border-right: 0.5px solid var(--border-color);
}

.nav-main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-item:hover {
    background: var(--border-color);
    border-radius: 20px;
}

.navbar-item {
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.pro-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    object-fit: cover;
    border-radius: 50%;
}

/* offcanvas */
.offcanvas-start.show {
    left: 4%;
}

/* last two nav item more */
.nav-item-space {
    padding: 0;
    margin: 0 !important;
}

/* content section */
.main-sec {
    max-width: auto;
    width: 100%;
    height: 100vh;
    /* background-color: var(--dark-color); */
    border-right: 0.5px solid rgb(122, 122, 122);
}

/* like btn */

.like-button.liked {
    background: url(/assets/svg/heart_red.svg) no-repeat;
    /* Change color when liked */
}

/* favourit btn */
.favourit.favouritBtn {
    background: url(/assets/svg/favouritpostwhite.svg) no-repeat;
}

/*content-sec> post-sec */


/*content-sec> sugested sec */
.sugested-sec {
    padding-left: 4rem;
    max-width: 26.5vmax;
    width: 100%;
}