/*=========== media quiry for min 1269px ============= */
@media (min-width: 1265px) {
    .card {
        height: 850px !important;
    }
}

/* media quiry for large divices */
@media (min-width:1161px) and (max-width:1264px) {

    /* navbar section  */
    .sidebar-threads {
        max-width: 7vmax !important;
    }

    .content-main-1 {
        margin-left: 7vmax !important;
    }

    /*====== navbar end======= */
 

}

/*===== media quiry for large divice max width 1160px =======*/
@media (max-width: 1160px) and (min-width: 769px) {

    /* navbar section  */


    /* icons details/ only icons */
    .i-d {
        display: none;
    }

    .card {
        height: 750px !important;
    }


}

/*======== media quirey for for mobile devices 767px ========= */
@media (max-width: 768px) and (min-width: 577px) {
    .sidebar-threads {
        display: none !important;
    }

    .top-mob-thread {
        display: grid !important;
        position: fixed;
        width: 100%;
        justify-content: space-between;
        top: 0;
        z-index: 999;
        border-bottom: 1px solid rgb(122, 122, 122);
        background-color: black;
    }

    /* navbar bottom on mobile screen */
    .mob-b-nav {
        display: flex !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        border-top: 1px solid rgb(122, 122, 122);
        background-color: black;
    }

    .mob-b-nav ul {
        width: 100%;
        display: flex !important;
        justify-content: space-evenly !important;
        align-items: center;
    }

    /* content main section */

    .content-main-1 {
        margin-left: 0 !important;
    }
 
    .post-sec {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

}

@media (max-width: 576px) and (min-width: 220px) {
    .sidebar-threads {
        display: none !important;
    }

    .top-mob-thread {
        display: flex !important;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        border-bottom: 1px solid rgb(122, 122, 122);
        background-color: black;
    }
    .top-navbar{
        display: grid;
        grid-row: 2;
        grid-column: 4;
        grid-template-columns: 1fr 50vw 1fr;
        justify-content: center;
        align-items: center;
    }
.empty-space{
    grid-column: 1/2;
}
    .thread-logo {
       width: 24px !important;
       height: auto;
       grid-column: 2/3;
    }
    .more-top-nav{
        width: 100px;
        justify-content: center;
        grid-column: 3/4;
    }

    /* navbar bottom on mobile screen */
    .mob-b-nav {
        display: flex !important;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        border-top: 1px solid rgb(122, 122, 122);
        background-color: black;
    }

    .mob-b-nav ul {
        width: 100%;
        display: flex !important;
        justify-content: space-evenly !important;
        align-items: center;
    }

    .content-main-1 {
        margin: 0 !important;
    }
    .post-sec {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

}